header {
  display: flex;
  flex-direction: column; }

.box-frase h2, .descripcion-productos p {
  font-size: 20px;
  text-align: center;
  font-family: 'Noto Serif', serif; }

.descripcion-indor {
  font-size: 35px;
  text-align: center;
  font-family: 'Noto Serif', serif; }

main {
  height: 70vh;
  margin-bottom: 20px; }

.footer, .footer-contacto {
  height: 30px;
  display: flex;
  flex-direction: row;
  font-size: 11px;
  font-family: 'Noto Serif', serif; }

.main-contacto {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10px;
  height: 80vh; }

.box-propuesta {
  background-image: url(/assets/img/banners/banner-propuesta.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  text-align: center; }

.box-productos-lista, .marcas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1 fr 1fr; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  color: white;
  background-color: black; }

header {
  background-image: url(/assets/img/banners/banner-header-general.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  header h1 {
    font-size: 70px;
    text-align: center;
    margin-top: 25px; }

.box-main-logo {
  text-align: center;
  margin-bottom: 50px;
  animation-duration: 6s;
  animation-name: animacion;
  animation-iteration-count: initial; }

@keyframes animacion {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.footer {
  font-family: 'Noto Serif', serif; }

.nav-link {
  transition: transform 0.3s ease; }

.nav-link:hover {
  transform: scale(1.2); }

.footer {
  border-top: 3px solid #68c05c; }
  .footer p {
    text-align: center;
    padding: 3px; }

header {
  display: flex;
  flex-direction: column; }

.box-frase h2, .descripcion-productos p {
  font-size: 20px;
  text-align: center;
  font-family: 'Noto Serif', serif; }

.descripcion-indor {
  font-size: 35px;
  text-align: center;
  font-family: 'Noto Serif', serif; }

main {
  height: 70vh;
  margin-bottom: 20px; }

.footer, .footer-contacto {
  height: 30px;
  display: flex;
  flex-direction: row;
  font-size: 11px;
  font-family: 'Noto Serif', serif; }

.main-contacto {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10px;
  height: 80vh; }

.box-propuesta {
  background-image: url(/assets/img/banners/banner-propuesta.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  text-align: center; }

.box-productos-lista, .marcas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1 fr 1fr; }

.box-redes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 20px; }

.box-redes div img {
  transition: transform 0.3s ease; }

.box-redes div img:hover {
  transform: scale(1.3); }

.box-redes div P {
  font-size: 20px;
  margin-top: 10px;
  display: none; }

.box-ubicacion-mapa-img:hover {
  transform: scale(1.2); }

.box-ubicacion-mapa-img {
  margin-bottom: 30px;
  transition: transform 0.3s ease; }

.box-propuesta {
  margin-bottom: 20px;
  font-size: 15px;
  text-align: center; }

.box-propuesta {
  padding-top: 50px; }

.img-click {
  transition: transform 0.3s ease; }

.img-click:hover {
  transform: scale(1.4); }

.footer-contacto {
  font-family: 'Noto Serif', serif;
  text-align: center; }

header {
  display: flex;
  flex-direction: column; }

.box-frase h2, .descripcion-productos p {
  font-size: 20px;
  text-align: center;
  font-family: 'Noto Serif', serif; }

.descripcion-indor {
  font-size: 35px;
  text-align: center;
  font-family: 'Noto Serif', serif; }

main {
  height: 70vh;
  margin-bottom: 20px; }

.footer, .footer-contacto {
  height: 30px;
  display: flex;
  flex-direction: row;
  font-size: 11px;
  font-family: 'Noto Serif', serif; }

.main-contacto {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10px;
  height: 80vh; }

.box-propuesta {
  background-image: url(/assets/img/banners/banner-propuesta.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  text-align: center; }

.box-productos-lista, .marcas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1 fr 1fr; }

header {
  display: flex;
  flex-direction: column; }

.box-frase h2, .descripcion-productos p {
  font-size: 20px;
  text-align: center;
  font-family: 'Noto Serif', serif; }

.descripcion-indor {
  font-size: 35px;
  text-align: center;
  font-family: 'Noto Serif', serif; }

main {
  height: 70vh;
  margin-bottom: 20px; }

.footer, .footer-contacto {
  height: 30px;
  display: flex;
  flex-direction: row;
  font-size: 11px;
  font-family: 'Noto Serif', serif; }

.main-contacto {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10px;
  height: 80vh; }

.box-propuesta {
  background-image: url(/assets/img/banners/banner-propuesta.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  text-align: center; }

.box-productos-lista, .marcas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1 fr 1fr; }

@media screen and (min-width: 600px) and (max-width: 1023px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%; }
    .footer p {
      font-size: 15px; }
  .box-redes div p {
    display: block;
    font-family: 'Noto Serif', serif; }
  .main-contacto {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 90vh; }
  .box-ubicacion-mapa {
    margin-bottom: 30px;
    height: 305px; }
  .box-ubicacion-mapa img {
    width: 450px;
    text-align: center;
    margin-bottom: 60px; }
  .box-productos img {
    width: 299px;
    margin-left: 15px; }
  .marcas-fertilizantes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; }
  .marcas-sustratos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; }
  .marcas-parafernalia {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; }
  .marcas-indor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; }
  .frase-final p {
    font-size: 25px; }
  section {
    display: flex;
    flex-direction: column; }
    section div {
      text-align: center; }
      section div .p {
        margin: 10px;
        border-bottom: 4px solid #68c05c; }
  main h2 {
    font-size: 50px; }
  .titulos-historia h2 {
    font-size: 50px; }
  .titulos-historia h3 {
    font-size: 35px;
    text-align: center; }
  .carousel {
    display: none; }
  .galeria {
    display: inline-block; } }

header {
  display: flex;
  flex-direction: column; }

.box-frase h2, .descripcion-productos p {
  font-size: 20px;
  text-align: center;
  font-family: 'Noto Serif', serif; }

.descripcion-indor {
  font-size: 35px;
  text-align: center;
  font-family: 'Noto Serif', serif; }

main {
  height: 70vh;
  margin-bottom: 20px; }

.footer, .footer-contacto {
  height: 30px;
  display: flex;
  flex-direction: row;
  font-size: 11px;
  font-family: 'Noto Serif', serif; }

.main-contacto {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10px;
  height: 80vh; }

.box-propuesta {
  background-image: url(/assets/img/banners/banner-propuesta.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  text-align: center; }

.box-productos-lista, .marcas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1 fr 1fr; }

@media screen and (min-width: 1024px) {
  .marcas-fertilizantes {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  .box-main-logo {
    margin-bottom: 5px; }
  .box-main-logo img {
    padding-top: 14px;
    width: 400px;
    height: 400px; }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%; }
    .footer p {
      font-size: 20px; }
  textarea {
    width: 400px;
    height: 300px; }
  .footer-contacto {
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 35px;
    gap: 2px; }
  .box-propuesta h2 {
    font-size: 30px; }
  .marcas-fertilizantes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 20px; }
  .marcas-sustratos {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .marcas-indor {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .marcas-parafernalia {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .carousel {
    display: none; } }

header {
  display: flex;
  flex-direction: column; }

.box-frase h2, .descripcion-productos p {
  font-size: 20px;
  text-align: center;
  font-family: 'Noto Serif', serif; }

.descripcion-indor {
  font-size: 35px;
  text-align: center;
  font-family: 'Noto Serif', serif; }

main {
  height: 70vh;
  margin-bottom: 20px; }

.footer, .footer-contacto {
  height: 30px;
  display: flex;
  flex-direction: row;
  font-size: 11px;
  font-family: 'Noto Serif', serif; }

.main-contacto {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10px;
  height: 80vh; }

.box-propuesta {
  background-image: url(/assets/img/banners/banner-propuesta.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  text-align: center; }

.box-productos-lista, .marcas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1 fr 1fr; }

a {
  text-decoration: none; }

a:link {
  color: white; }

a:visited {
  color: white; }

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

.main-productos {
  height: 100%; }

.descripcion-productos h2 {
  font-size: 45px;
  text-align: center;
  margin-top: 10px;
  font-family: 'Noto Serif', serif; }

.descripcion-fertilizantes {
  font-size: 25px;
  text-align: center;
  font-family: 'Noto Serif', serif; }

.descripcion-productos p {
  margin-top: 10px; }

.box-productos-lista {
  width: 100%;
  justify-items: center;
  border-bottom: 3px solid #68c05c;
  padding-bottom: 5px; }

.box-productos-lista li {
  height: 50px;
  list-style: none;
  text-align: center;
  font-family: 'Noto Serif', serif;
  width: 200px;
  justify-content: center;
  font-size: 30px;
  transition: transform 0.3s ease; }

.box-productos-lista li:hover {
  transform: scale(1.2);
  border: 2px solid #68c05c; }

.marcas {
  justify-content: center; }

.marcas-fertilizantes img {
  align-items: center; }

.box-productos img {
  box-shadow: 0 4px 8px rgba(0, 255, 0, 0.5);
  transition: box-shadow 0.3s; }

.box-productos img:hover {
  box-shadow: 0 6px 12px rgba(0, 255, 0, 0.7); }

.box-productos img {
  margin-bottom: 20px;
  margin-top: 10px; }

.marcas-sustratos {
  text-align: center; }

.marcas-indor {
  text-align: center; }

.marcas-parafernalia {
  text-align: center; }

.marcas-fertilizantes {
  text-align: center; }

header {
  display: flex;
  flex-direction: column; }

.box-frase h2, .descripcion-productos p {
  font-size: 20px;
  text-align: center;
  font-family: 'Noto Serif', serif; }

.descripcion-indor {
  font-size: 35px;
  text-align: center;
  font-family: 'Noto Serif', serif; }

main {
  height: 70vh;
  margin-bottom: 20px; }

.footer, .footer-contacto {
  height: 30px;
  display: flex;
  flex-direction: row;
  font-size: 11px;
  font-family: 'Noto Serif', serif; }

.main-contacto {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10px;
  height: 80vh; }

.box-propuesta {
  background-image: url(/assets/img/banners/banner-propuesta.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  text-align: center; }

.box-productos-lista, .marcas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1 fr 1fr; }

header {
  display: flex;
  flex-direction: column; }

.box-frase h2, .descripcion-productos p {
  font-size: 20px;
  text-align: center;
  font-family: 'Noto Serif', serif; }

.descripcion-indor {
  font-size: 35px;
  text-align: center;
  font-family: 'Noto Serif', serif; }

main {
  height: 70vh;
  margin-bottom: 20px; }

.footer, .footer-contacto {
  height: 30px;
  display: flex;
  flex-direction: row;
  font-size: 11px;
  font-family: 'Noto Serif', serif; }

.main-contacto {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10px;
  height: 80vh; }

.box-propuesta {
  background-image: url(/assets/img/banners/banner-propuesta.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  text-align: center; }

.box-productos-lista, .marcas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1 fr 1fr; }

@media screen and (min-width: 600px) and (max-width: 1023px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%; }
    .footer p {
      font-size: 15px; }
  .box-redes div p {
    display: block;
    font-family: 'Noto Serif', serif; }
  .main-contacto {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 90vh; }
  .box-ubicacion-mapa {
    margin-bottom: 30px;
    height: 305px; }
  .box-ubicacion-mapa img {
    width: 450px;
    text-align: center;
    margin-bottom: 60px; }
  .box-productos img {
    width: 299px;
    margin-left: 15px; }
  .marcas-fertilizantes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; }
  .marcas-sustratos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; }
  .marcas-parafernalia {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; }
  .marcas-indor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; }
  .frase-final p {
    font-size: 25px; }
  section {
    display: flex;
    flex-direction: column; }
    section div {
      text-align: center; }
      section div .p {
        margin: 10px;
        border-bottom: 4px solid #68c05c; }
  main h2 {
    font-size: 50px; }
  .titulos-historia h2 {
    font-size: 50px; }
  .titulos-historia h3 {
    font-size: 35px;
    text-align: center; }
  .carousel {
    display: none; }
  .galeria {
    display: inline-block; } }

.main-propuesta {
  height: 100%; }

.box-formulario {
  text-align: center;
  justify-content: center; }

.box-propuesta-titulo h2 {
  text-align: center;
  font-size: 32px;
  font-family: 'Noto Serif', serif; }

.box-propuesta-titulo p {
  text-align: center;
  font-size: 19px;
  font-family: 'Noto Serif', serif; }

.frase-final {
  text-align: center;
  font-size: 19px;
  font-family: 'Noto Serif', serif; }

.box-formulario label {
  margin-bottom: 15px;
  font-family: 'Noto Serif', serif;
  margin-left: 5px; }

form p {
  text-align: center;
  font-size: 19px;
  font-family: 'Noto Serif', serif; }

h2 {
  box-shadow: 0 4px 8px rgba(0, 255, 0, 0.5);
  transition: box-shadow 0.3s; }

h2:hover {
  box-shadow: 0 6px 12px rgba(0, 255, 0, 0.7); }

input {
  transition: box-shadow 0.3s; }

input:hover {
  box-shadow: 0 4px 8px rgba(0, 255, 0, 0.5);
  transition: box-shadow 0.3s; }

textarea:hover {
  box-shadow: 0 4px 8px rgba(0, 255, 0, 0.5);
  transition: box-shadow 0.3s; }

header {
  display: flex;
  flex-direction: column; }

.box-frase h2, .descripcion-productos p {
  font-size: 20px;
  text-align: center;
  font-family: 'Noto Serif', serif; }

.descripcion-indor {
  font-size: 35px;
  text-align: center;
  font-family: 'Noto Serif', serif; }

main {
  height: 70vh;
  margin-bottom: 20px; }

.footer, .footer-contacto {
  height: 30px;
  display: flex;
  flex-direction: row;
  font-size: 11px;
  font-family: 'Noto Serif', serif; }

.main-contacto {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10px;
  height: 80vh; }

.box-propuesta {
  background-image: url(/assets/img/banners/banner-propuesta.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  text-align: center; }

.box-productos-lista, .marcas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1 fr 1fr; }

main {
  height: 100%; }
  main h2 {
    font-size: 35px;
    text-align: center;
    font-family: 'Noto Serif', serif; }
  main h3 {
    font-size: 30px; }

.historia {
  display: flex;
  flex-direction: column; }
  .historia div {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%; }
    .historia div .p {
      margin: 10px;
      border-bottom: 4px solid #68c05c; }

.carousel {
  box-shadow: 0 4px 8px rgba(0, 255, 0, 0.5);
  transition: box-shadow 0.3s; }
  .carousel img {
    height: 310px; }

.carousel:hover {
  box-shadow: 0 6px 12px rgba(0, 255, 0, 0.7); }

.galeria {
  display: none; }

.subir {
  margin-top: 10px;
  height: 100%;
  font-size: 40px;
  text-align: center; }
  .subir a {
    align-self: auto;
    padding-bottom: 7px;
    border: 5px outset #68c05c;
    padding-left: 5px;
    padding-right: 5px; }
  .subir a:hover {
    background-color: #68c05c;
    color: black; }

@media screen and (min-width: 600px) and (max-width: 1023px) {
  .galeria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 10px; } }

@media screen and (min-width: 1024px) {
  .galeria {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px; }
  .galeria div {
    margin: 0px;
    padding: 0px; }
  .galeria div img {
    box-shadow: 0 4px 8px rgba(0, 255, 0, 0.5);
    transition: box-shadow 0.3s; }
  .galeria div img:hover {
    box-shadow: 0 6px 12px rgba(0, 255, 0, 0.7); }
  .foto7 .foto4 {
    background-color: aqua;
    width: auto; }
  .img7 {
    width: auto; }
  .img4 {
    width: 92%; } }
