
 
@import"../utilidades/variables";
@import"scss/utilidades/extend";

main{
    @extend %contacto-main-mobile;
}

.box-redes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.box-redes div img {
    transition: transform 0.3s ease;
    
}
.box-redes div img:hover {
    transform: scale(1.3);
}
