
@import"../utilidades/variables";
@import"scss/utilidades/extend";

.main-contacto{
    @extend %contacto-main-mobile;
}
.h2contacto{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
}
.box-redes{
    @extend  %redes;
    @extend %boxgrey;  
   
}

 .box-ubicacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
 }



.box-redes div img {
    transition: transform 0.3s ease;   
}


.box-redes div img:hover {
    transform: scale(1.3);
    
}
.box-redes div P {
    font-size: 10px;   
}


.box-ubicacion-mapa-img:hover{
    transform: scale(1.1);          
}


.box-ubicacion-mapa-img{   
    transition: transform 0.3s ease;

    margin-top: 40px;
}


.box-propuesta {
  @include propuestadetrabajo;
  background-image: url(/assets/img/banners/banner-propuesta.jpg);
}

.img-click {
    transition: transform 0.3s ease;
}


.img-click:hover{
    transform: scale(1.2);
   
}

.box-propuesta a:hover{
        background-color: rgba(0, 0, 0, 0);
}



.box-redes img:hover{
    background-color: grey;


}



