
@import"../utilidades/variables";
@import"scss/utilidades/extend";
@import"../utilidades/mixin";
// Estilos de home 

//reset 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color:$color-font;
    background-color:black;
}

//estilos header general
header{
    @extend %index-header-mobile;
    h1{
        
        font-size: 70px;
        text-align: center;
        margin-top: 25px;
    }
}

main{
    @extend %index-main-mobile;
    
}
.box-main-logo {
    text-align: center; 
    margin-bottom: 50px;
    
}  

.box-frase h2 {
    @extend %fuentes2;
}

.footer{
    
    font-family: 'Noto Serif', serif;
    @extend %index-footer-mobile; 
}
.nav-link {
    transition: transform 0.3s ease;
}
.nav-link:hover{
    transform: scale(1.2);

}
//hover nav 



.footer p {
    text-align: center;
    padding:10px;
}