
@import"../utilidades/variables";
@import"scss/utilidades/extend";
@import"../utilidades/mixin";
// Estilos de home 

//reset 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color:$color-font;
    background-color:black;
}

//estilos header general
header{
    background-image:url(/assets/img/banners/banner-header-general.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    @extend %index-header-mobile;
    h1{
        
        font-size: 300%;
        text-align: center;
        margin-top: 25px;
    }
}

main{
    @extend %index-main-mobile;
    
}
.box-main-logo {
    text-align: center; 
    animation-duration: 6s;
    animation-name:animacion;
    animation-iteration-count: initial
   
}  
.box-main-logo img {
    margin-bottom: 100px;
}

@keyframes animacion{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

.box-frase h2 {
    @extend %fuentes2;
}


.footer{
    
    font-family: 'Noto Serif', serif;
    @extend %index-footer-mobile; 
}

.footer p {
    text-align: center;
    padding:3px;
 }

 



