@import"../utilidades/variables";
@import"../utilidades/extend";
@import"../utilidades/mixin";




@media screen and  (min-width: 1024px){
    .marcas-fertilizantes{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }


  //medidas de index 
    

    .box-main-logo{
        margin-bottom: 5px;
    }
    .box-main-logo img{
        padding-top: 14px;
        width: 400px;
        height: 400px;
      
    }
    .footer{
        @include footer-font;
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
        height: 35px;
        gap: 2px;
    }
    .footer p {
      align-items: end;
        height: 35px;
       
    }
  
    //medidas de contactos 



    .footer-contacto{
        @include footer-font;
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
        height: 35px;
        gap: 2px;

    }

    .box-propuesta h2 {
        font-size: 30px;
    }

//medidas de productos 

.marcas-fertilizantes{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: aqua;
}

.marcas-sustratos{
    display:flex;
    flex-direction: row;
    justify-content: space-around;

}
.marcas-indor{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
        
    }
    .marcas-parafernalia{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
       
    }


   

   

    
}




