@import"../utilidades/variables";
@import"../utilidades/extend";
@import"../utilidades/mixin";




@media screen and  (min-width: 1024px){
    .marcas-fertilizantes{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }


  //medidas de index 
    

    
    .box-main-logo img{
        width: 420px;
        height: 420px;
      
    }


    .box-frase h2{
        

    }


    .footer{
        display:flex;
        flex-direction:row;
        
        justify-content: space-between;
        height: 100%;
        p{
           font-size: 15px;
  
        }
     }

     
     textarea {
       width: 400px;
       height: 300px;
     }
  
    /////////////////////////////medidas de contactos//////////////////////////////// 


    .box-propuesta h2 {
        font-size: 30px;
    }

/////////////////////////////medidas de productos //////////////////////////////////////


.box-productos-lista a {
    margin-left: 220px;
}
.marcas-fertilizantes{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    row-gap: 20px;
   
}

.marcas-sustratos{
    display:flex;
    flex-direction: row;
    justify-content:space-around;

}
.marcas-indor{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
        
    }
    .marcas-parafernalia{
        display:flex;
        flex-direction: row;
        justify-content:space-around;
       
    }
////////////////// nuestra historia///////////////////// 
  .carousel {
    display: none;
  }


  .galeria{

    display: grid;
    grid-template-columns:  1fr 1fr 1fr ;
    grid-template-rows: 1fr  1fr ;
    text-align: center;
    row-gap: 20px;
    
   
}
.galeria div img {
    box-shadow: 0 4px 8px rgba(0, 255, 0, 0.5); 
      transition: box-shadow 0.3s;
      width: 90%;
}

.galeria div img:hover{
  box-shadow: 0 6px 12px rgba(0, 255, 0, 0.7);
}



}



