@import"../utilidades/variables";
@import"../utilidades/extend";
@import"../utilidades/mixin";



@media screen and (min-width: 600px ) and (max-width: 1023px) {

    

   .footer{
      display:flex;
      flex-direction:row;
      
      justify-content: space-between;
      height: 100%;
      p{
         font-size: 15px;

      }
   }



   //medidas de contactos

   .box-redes div p {
    display: block;
    font-family: 'Noto Serif', serif;
   }

   .main-contacto {
    display:flex;
    flex-direction: column;
    text-align: center;
    height: 90vh;
   }
   
   .box-ubicacion-mapa{
    margin-bottom:30px;
    height: 305px;
   }
   .box-ubicacion-mapa img {
    width: 450px;
    text-align: center;
    margin-bottom: 60px;

   }
   
 
   //estilos de productos
  
     
      .box-productos img {
         width: 299px;
         margin-left: 15px;
      }
     
       .marcas-fertilizantes{
         display: grid;
         grid-template-columns: 1fr 1fr;
         grid-template-rows: 1fr 1fr;

       }

       .marcas-sustratos{
         display: grid;
         grid-template-columns: 1fr 1fr;
         grid-template-rows: 1fr 1fr;

       }
       .marcas-parafernalia{
         display: grid;
         grid-template-columns: 1fr 1fr;
         grid-template-rows: 1fr 1fr;

       }
       .marcas-indor{
         display: grid;
         grid-template-columns: 1fr 1fr;
         grid-template-rows: 1fr 1fr;
        
       }

    //m de trabajaconnosotros
 
     


    .frase-final { 
      p{
         font-size: 25px;
      }
      
     }  
   
   
//concidere que el html "trabaja con nosotros no encesitaba  esta mq


//medidas nuestra historia 



section{
   
   display: flex;
   flex-direction: column;
    div{
       text-align: center;

       .p{
           margin:10px;
           border-bottom: 4px solid $color-secundario;
       }
   }
   
}
 
main h2{
   
      font-size: 50px;
   
}

.titulos-historia{
 h2{
   
   font-size: 50px;  
}
h3{
   font-size: 35px;
   text-align: center;
}

}


.carousel{
   display: none;
}

.galeria{
   display: inline-block;
}

  



}

  
