@import"../utilidades/variables";
@import"../utilidades/extend";



@media (min-width: 600px) {
    
   //medidas de contactos

   .box-redes div p {
    display: block;
    font-family: 'Noto Serif', serif;
   }

   .main-contacto {
    display:flex;
    flex-direction: column;
    text-align: center;
    height: 90vh;
   }
   
   .box-ubicacion-mapa{
    margin-bottom:30px;
    height: 305px;
   }
   .box-ubicacion-mapa img {
    width: 450px;
    text-align: center;
    margin-bottom: 60px;

   }
   
   .footer-contacto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr 1 fr;
    
   }

}
   //estilos de productos
   @media (min-width: 600px) {

      
      
     .marcas-fertilizantes{
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;  
      }

      .marcas-sustratos{
         display: grid;
         grid-template-columns: 1fr 1fr;
         grid-template-rows: 1fr 1fr;
      }

      .marcas-indor{
         display: grid;
         grid-template-columns: 1fr 1fr;
         grid-template-rows: 1fr 1fr;
      }

      .marcas-parafernalia{
         display: grid;
         grid-template-columns: 1fr 1fr;
         grid-template-rows: 1fr 1fr;
      }
      .box-productos img {
         width: 291px;
      }

  }









  
  
