@import"../utilidades/variables";
@import"../utilidades/extend";
@import"../utilidades/mixin";
@import"../html/mqtablet";

.titulos-historia{
    height: 70%;
    h2{
        font-size: 45px;
        text-align: center;
        font-family: 'Noto Serif', serif;      
 }
    h3{
    font-size: 30px;
    text-align: center;
     }
}

.historia{
    display: flex;
    flex-direction: column;
    div{
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;

    .p{
        margin:10px;
        border-bottom: 15hs
        }
    }
    
}

.box-inicio{
    @extend %boxgrey;
}

.carousel{
    box-shadow: 0 4px 8px rgba(0, 255, 0, 0.5); 
    transition: box-shadow 0.3s;
    img{
        height: 310px;
        
    }
}
.carousel:hover{
    box-shadow: 0 6px 12px rgba(0, 255, 0, 0.7);
}

.galeria{
    display: none;
}
.subir{

    margin-top: 30px;
    font-size: 30px;
    text-align: center;
    
   
   a{ 
    @extend %boxgrey;
    padding: 10px ;
    
}

}


a:hover{
    background-color: $color-secundario;
    color: black;
}






       
    


