@import"../utilidades/variables";
@import"../utilidades/extend";
@import"../utilidades/mixin";
@import"../html/mqtablet";



.main-propuesta{
    height:100%;
}

.box-formulario{
    text-align: center;
    justify-content: center;
   

    }
    .box-propuesta-titulo h2{
        text-align: center;
        font-size: 32px;
        font-family: 'Noto Serif', serif;
       
}


.box-propuesta-titulo p {
    @include texto;

}
.frase-final{
    @include texto;
}
.box-formulario label {
    margin-bottom: 15px;
    font-family: 'Noto Serif', serif;
    margin-left:5px; 
}
form p {
    @include texto;
} 

input{
     
    transition: box-shadow 0.3s;
}

input:hover{
    box-shadow: 0 4px 8px rgba(0, 255, 0, 0.5); 
    transition: box-shadow 0.3s;
}

textarea:hover{
    box-shadow: 0 4px 8px rgba(0, 255, 0, 0.5); 
    transition: box-shadow 0.3s;
}