




%index-header-mobile{
    display: flex;
    flex-direction:column; 

}

%fuentes2{
    font-size: 30px;
    text-align: center;
    font-family: 'Noto Serif', serif;
}

%index-main-mobile{
    height: 80vh;
}

%index-footer-mobile {
    height:30%;
    display:flex;
    flex-direction: row;
    font-size: 11px;
}


%contacto-main-mobile{
    display: flex;
    flex-direction: column;
    text-align: center;
}



